/* Variables*/

:root {
  --color-bg: #262338;
  --color-main: #1e1c2b;
  --color-aside: #8284aa;
  --color-btn-profile: #C4C2CF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-bg);
  color: white;
}

#root {
    height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header--search {
  background-color: var(--color-main);
  border-radius: 12px;
}

.header--search  input {
  background-color: var(--color-main);
  color: white;
  border: none;
  outline: none;
  width: 17rem;
}

.header--search  input::placeholder {
    font-size: .8rem;
  }
  

.header--search  i {
    font-size: .7rem;
    padding: 12px;
}

.header--aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;

}

.header--aside img {
    margin-right: 20px;
    margin-left: 40px;
}


main {
    background-color: var(--color-main);
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;

}

.sidebar {
  background-color: var(--color-bg);
  width: 20vw;
  height: 100vh;
  border-top: 1px solid var(--color-aside);
  padding-top: 30px;
}

.sidebar ul li {
  list-style-type: none;
  margin-left: 10px;
}

.teamMateFinder{
    width:80vw;
    height:30vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:-10vw;
    
}
.teamMate{
    width:70vw;
    height:20vh;
    border:1px solid var(--color-aside);
    border-radius:10px;
    border-left:20px solid var(--color-aside);
    display:flex;
    flex-direction:column;
}
.topPart{
    border-bottom:4px solid var(--color-aside);
}
.topPart,.bottomPart{
    height:10vh;
    width: calc(70vw - 20px);
}
.topPart{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.buttons {
    display:flex;
    width:fit-content;
    height:100%;
    align-items:center;
}
.invite, .more{
    width: fit-content;
    height:20px;
    padding:15px;
    display:flex;
    align-items:center;
    border-radius:6px;
    margin:7px;
    background-color: var(--color-btn-profile);
    border:none;
}

.topPart img{
    position:absolute;
    left:20px;
    display:flex;
    padding-right:10px;
}

.faceAndFlag{
    height:100%;
    width:30%;
    position:relative;
    justify-self:flex-start;
    text-align:center;
}