/* Variables*/

:root {
    --color-bg: #262338;
    --color-main: #1E1C2B;
    --color-aside: #8284AA;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

main {
    background-color: var(--color-main);
    height: 100vh;
}

.sidebar {
    background-color: var(--color-bg);
    width: 20vw;
    height: 100vh;
    border-top: 1px solid var(--color-aside);
    padding-top: 30px;
    text-align: center;
    
}

.sidebar ul li{
    list-style-type: none;
}