/* Variables*/

:root {
  --color-bg: #262338;
  --color-main: #1e1c2b;
  --color-aside: #8284aa;
  --color-btn-profile: #c4c2cf;
  --color-btn-hover: #3b394b;
  --color-btn-drop: #cb2d76;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-main);
  color: white;
}

#root {
  height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-bg);
  top: 0;
  left: 0;
  z-index: 3;
}

.header--search {
  background-color: var(--color-main);
  border-radius: 12px;
}

.header--search input {
  background-color: var(--color-main);
  color: white;
  border: none;
  outline: none;
  width: 17rem;
}

.header--search input::placeholder {
  font-size: 0.8rem;
}

.header--search i {
  font-size: 0.7rem;
  padding: 12px;
}

.header--aside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.header--aside img {
  margin-right: 20px;
  margin-left: 40px;
}

main {
  background-color: var(--color-main);
}

.container {
  height: 100%;
  width: 100%;
}

.sidebar {
  position: fixed;
  background-color: var(--color-bg);
  height: 100vh;
  border-top: 0.8px solid var(--color-aside);
  padding-top: 40px;
}

.sidebar-focus {
  background-color: var(--color-btn-hover);
}

.sidebar ul {
  box-sizing: border-box;
  margin-left: 15px;
}

.sidebar ul li {
  padding: 7px;
  margin-right: 17px;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar li:hover {
  background-color: var(--color-aside);
  cursor: pointer;
}

.sidebar ul li:nth-child(1) i {
  margin-left: 4px;
  margin-right: 4px;
}
.sidebar ul li:nth-child(2) i {
  margin-left: 6px;
  margin-right: 10px;
}
.sidebar ul li:nth-child(3) i {
  margin-left: 4px;
  margin-right: 3px;
}
.sidebar ul li:nth-child(4) i {
  margin-left: 3px;
  margin-right: 1px;
}
.sidebar ul li:nth-child(5) i {
  margin-left: 6px;
  margin-right: 4px;
}
.sidebar ul li:nth-child(6) i {
  margin-left: 8px;
  margin-right: 7px;
}
.sidebar ul li:nth-child(7) i {
  margin-left: 7px;
  margin-right: 6px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 180px;
}

.teamMateFinder {
  margin: 25px 25px 0px 25px;
}

.content .teamMateFinder:last-of-type {
  margin-bottom: 25px;
}

.teamMate {
  height: 20vh;
  border-radius: 10px;
  border-left: 25px solid var(--color-aside);
  background-color: var(--color-bg);
}

.topPart {
  width: 100%;
  border-bottom: 1px solid var(--color-aside);
}
.topPart,
.bottomPart {
  height: 10vh;
}
.topPart {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.buttons {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
}
.invite,
.more {
  width: fit-content;
  height: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 7px;
  background-color: var(--color-btn-profile);
  border: none;
}

.topPart img {
  position: absolute;
  left: 20px;
  display: flex;
  padding-right: 20px;
}

.faceAndFlag {
  height: 100%;
  width: 30%;
  position: relative;
  justify-self: flex-start;
  text-align: center;
}

.bottomPart {
  display: flex;
  justify-content: space-between;
}

.roles,
.summoner {
  width: 25%;
}
.div3 {
  align-self: flex-end;
  width: 30%;
}
.roles,
.summon,
.div3 {
  height: 100%;
}

.fa-medal {
  font-size: 2em;
}
.summon {
  display: flex;
  flex-direction: column;
}
.bottom {
  display: flex;
  height: 50%;
}
.bottom i {
  padding: 5px;
}
.infoo {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topStats,
.progressBar {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.progressBar--inner {
  width: 70%;
  height: 20px;
  background-color: #385682;
  border-radius: 7px;
}
.progressBar--inner2 {
  width: 30%;
  height: 100%;
  background-color: #5297ff;
  border-radius: 7px;
}
  .line {
    font-family: "Flamenco", cursive;
    font-size: 9px;
}

/*  ================== {PROFILE} =================== */

  .profile {
    background:#13142A;
    padding-top: 15px;
}
  .div1 {
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-left: 5%;
    font-family: 'Inconsolata', monospace;

}
.div1-1,
.div1-2,
  .div1-3 {
    height:100%;
    width:calc(100% / 3);
}
.div1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
}
.div1-1>p,.div1-1>.group{
    height:50%;
}
.div1-1>p{
    display: flex;
    align-items: center;
    font-size: 20px;

}
.group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div1-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
tr>td{
    text-align: end;
}
tr b{
    line-height: 29px;
}
.val{
    text-align: start;
    padding-left: 20px;

}
.val:nth-child(1){
    color:red;
}
.div1-3{
    text-align:center;
}
.div1-3>h4{
    line-height:20px;
    font-size: 30px;
    font-weight:100;
    padding-top: 10px;
}
  .stat{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    
    font-weight:lighter;
  
}
.dot{
    font-size:30px;
    color: #ED1C23;
    justify-content:center;
}
.div2{
    height:60vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.div2-1,.div2-2,.div2-3{
width:95%;
height:20vh;
background-color: #3B3854;
}
.div2-1{
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
    margin-bottom: 2px;
    
}
.div2-3{
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;
    margin-top: 2px;
    }

.div2-1-top,.div2-1-bottom{
  width: 100%;
}
.div2-1-top{
  height:20%;
  border-bottom: 1px solid ;
  display: flex;
  align-items: center;
  padding-left: 2%;
}


    

/* ======================= LeaderBoard ==================*/
.leaderBoard {
    margin: 60px;
}

.leaderBoard svg {
    display: inline-block;
    width: 100px;
}

.leaderBoard h1 {
    align-self: flex-start;
}

.leaderBoard--top h3:nth-child(2) {
    display: inline-block;
    width: 350px;
}
.leaderBoard--top h3:nth-child(3) {
    display: inline-block;
    width: 190px;
}
.leaderBoard--top h3:nth-child(5) {
    display: inline-block;
    width: 320px;
}
.leaderBoard--top h3:nth-child(4) {
    display: inline-block;
    width: 150px;
}

.leaderBoard button {
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: none;
}

.leaderBoard--top img {
    align-self: center;
    margin-left: 4px;
    margin-top: 2px;
    height: 8px;
}

.leaderBoard .btn {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    height: 35px;
    background-color: #6c5da5;
}

.leaderBoard .top {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    align-self: flex-end;
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
}
  
.dropdownleaderBoard--topan {
    display: block;
}

  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-aside);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.leaderBoardMain {
    margin-top: 60px;
    display: block;
    background-color: var(--color-bg);
    border-radius: 20px;
    width: 80vw;
    height: 60vh;
}



.leaderBoard--top {
    text-align: center;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.leaderBoard--top svg {
    height: 20px;
}

.leaderBoard--users {
    margin: 0 20px 0 20px;
}

.user {
    margin-top: 14px;
}

.user > span {
    text-align: center;
}

.user > span:nth-child(1) {
    display: inline-block;
    width: 100px;
}
.user > span:nth-child(2) {
    display: inline-block;
    width: 350px;
}
.user > span:nth-child(3) {
    display: inline-block;
    width: 190px;
}
.user > span:nth-child(5) {
    display: inline-block;
    width: 320px;
}
.user > span:nth-child(4) {
    display: inline-block;
    width: 150px;
    margin: auto;
}